# Do a clean install of node dependencies and run tests across different versions of node

name: Test & Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Run at 00:00 UTC on the 6th day of every month
    - cron: '0 0 6 * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
